# Don't put a comment after a command!

*~
*.swp

.vim/.netrwhist
.vim/ctrlp-cache/
 
# 
# Include neobundle to bootstrap
# 
# This needs to be done for all parents of a subdirectory to be included
# Ignore entries but not the dir itself
.vim/bundle/*
# Exclude directory only
!.vim/bundle/

# Exclude the subdirectory of the submodule
!.vim/bundle/neobundle.vim/
