# Don't put a comment after a command!

# Ignore personal configuration for git when sharing to GitHub:
/git/.gitconfig.local
/*-ravi

/zsh/.config/zsh/history
/zsh/.config/zsh/.zcompdump

# Personal allowed .envrc files
/misc/.config/direnv/allow/

ipython/.ipython/profile_default/history.sqlite

# These get dynamically updated by bashrc
tmux/.config/tmuxinator/tmuxinator.bash
tmux/.config/tmuxinator/tmuxinator.zsh
