#
# ~/.xprofile
#

# Set key repeat rate
xset r rate 200 50  # 200ms delay, then 40 repeats per second


[ -n $XDG_CURRENT_DESKTOP ] && export QT_QPA_PLATFORMTHEME="qt6ct"  # Qt6 was released in 2020

# Prevent weird font scaling (eg flameshot)
# https://wiki.archlinux.org/index.php?title=Flameshot&diff=prev&oldid=852968
export QT_SCALE_FACTOR_ROUNDING_POLICY=Round

# if which dbus-launch >/dev/null && test -z "$DBUS_SESSION_BUS_ADDRESS"; then
#     eval "$(dbus-launch --sh-syntax --exit-with-session)"
# fi

# Environment variables

[[ -f ~/.extend.xprofile ]] && . ~/.extend.xprofile
