#
# ~/.xprofile
#

# Set key repeat rate
xset r rate 200 40  # 200ms delay, then 40 repeats per second

# if which dbus-launch >/dev/null && test -z "$DBUS_SESSION_BUS_ADDRESS"; then
#     eval "$(dbus-launch --sh-syntax --exit-with-session)"
# fi

# Environment variables
#

[[ -f ~/.extend.xprofile ]] && . ~/.extend.xprofile
